.games-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

  @include respond(small-size) {
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  }

  @include respond(tiny-size) {
    grid-gap: 0.8rem;
    grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
  }
}

.game-container {
  display: grid;
  /* prettier-ignore */
  grid-template:
". . . ." 5%
". game game ." 45%
". game game ." 45%
". . . ." 5%
/ 5% 45% 45% 5%
}

.game {
  grid-area: game;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
