@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //defines 1rem
  font-size: 62.5%;
  overflow: hidden;
}

body {
  font-family: "Press Start 2P", "Liberation Mono", Arial;
  background: grey;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

// abstract
@import "mixins";
@import "font";
@import "layout";

// components
@import "./components/button";
@import "./components/game";
@import "./components/menu";
@import "./components/loader";
