@use "@material/button/mdc-button";
@use "@material/button";

.btn {
  @include button.container-fill-color(#92140c);
  @include button.ink-color(#fff8f0);
  font-size: 1rem;
  font-family: "Press Start 2P";
  &--seperator {
    font-size: 1.5rem;
    color: #92140c;
    font-weight: bold;
    @include respond(small-size) {
      font-size: 1.4rem;
    }

    @include respond(tiny-size) {
      font-size: 1rem;
    }
  }
}

.btn-text {
  @include button.ink-color(#92140c);
  font-size: 1.5rem;
  font-family: "Press Start 2P";
  @include respond(small-size) {
    @include button.height(1.4rem);
    font-size: 1.4rem;
  }
  @include respond(tiny-size) {
    @include button.height(1rem);
    font-size: 1rem;
  }
}

.btn-info {
  @include button.ink-color(#fff8f0);
  @include button.container-fill-color(#71a9f7);
  font-size: 2rem;
  font-family: "Press Start 2P";
  white-space: nowrap;

  &--shrink {
    @include respond(medium-size) {
      font-size: 1rem;
    }

    @include respond(small-size) {
      font-size: 0.8rem;
    }

    @include respond(tiny-size) {
      font-size: 0.5rem;
    }
  }
}
