@use "@material/card";

.menu {
  @include card.core-styles;
  @include absolute-axis-xy(40%);
  height: 40%;
  width: fit-content;

  @include respond(small-size) {
    @include absolute-axis-xy(25%);
  }

  @include respond(tiny-size) {
    @include absolute-axis-xy(25%);
  }

  .menu__selector {
    width: fit-content;
    padding: 1rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &--selector-padding {
    padding: 2rem 2rem 2rem 2rem;
  }
  &--title-padding {
    padding: 2rem 2rem 5rem 2rem;
  }

  &__title {
    font-size: 2rem;
    white-space: pre;
    white-space: nowrap;
    white-space: pre;
    white-space: nowrap;
    text-align: center;
    display: inline-block;
    line-height: 4rem;
  }

  &__buttons {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--selector {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @include respond(small-size) {
        flex-direction: column;
        align-items: center;
      }

      @include respond(tiny-size) {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 0;

    &__info {
      padding: 1rem;
      margin-bottom: 4rem;
    }

    &__btn-container {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      width: 100%;
    }

    &__image {
      color: black;
      padding: 0px;
      border-style: solid;
      width: 20rem;
      height: 20rem;
    }
  }
}
